<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
>
    <arg name="cache" value=".phpcs-cache"/>

    <rule ref="Cdn77CodingStandard"/>

    <file>src/</file>
    <file>tests/</file>
</ruleset>
